table {
    width: 75%;
    margin-bottom: 20px;
    font-size: 15px;
    margin-left:125px;
    margin-right:100px;
}

table th {
    font-weight: bold;
    padding: 7px;
    background: #ffd300;
    border: none;
    text-align: center;
    font-size: 15px;
    border-bottom: 3px solid #ffd300;
}

table td {
    text-align: center;
    padding: 7px;
    border: none;
}

table tbody tr:nth-child(even) {
    background: #f3f3f3;
    opacity:0.90
}
table tbody tr:nth-child(odd) {
    background: #99C9C2;
    opacity:0.90
}

h1{
    color: #184755;
    text-align: center;
}
h3{
    color: #BD2A3C;
    text-align: center;
}
body{
    background: url(../images/bookstore.jpg) no-repeat;
    color: #000;
    background-size: cover;
}

button{
    background-color: #20E2E2;
    color: #C8242D;
    border-radius: 8px;
    width: 100px;
    height: 50px;
    font-size: 20px;
}
div{
    display: flex;
    align-items: center;
    justify-content: center

}
input[type=text], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    width: 120px;
    height: 70px;
    transition: 0.5s;
    background-color: #ffd300;
}
.book {
    background: url(../images/book1.jpg) no-repeat;
    background-size: cover;
}
.user{
    background: url(../images/users.jpg) no-repeat;
    background-size: cover;
}

.table_mini{
    width: 75%;
    margin-bottom: 20px;
    font-size: 15px;
    margin-left:50px;
    margin-right:20px;
}

.new_button{
    font-size: 16px;
    width: 200px;
    height: 30px;
    background-color: #20E2E2;
}
.new_button:hover{
    font-size: 16px;
    width: 200px;
    height: 30px;
    transition: 0.5s;
    background-color: #ffd300;
}





