table {
    width: 75%;
    margin-bottom: 20px;
    font-size: 15px;
    margin-left:125px;
    margin-right:100px;
}

table th {
    font-weight: bold;
    padding: 7px;
    background: #ffd300;
    border: none;
    text-align: center;
    font-size: 15px;
    border-bottom: 3px solid #ffd300;
}

table td {
    text-align: center;
    padding: 7px;
    border: none;
}

table tbody tr:nth-child(even) {
    background: #f3f3f3;
    opacity:0.90
}
table tbody tr:nth-child(odd) {
    background: #99C9C2;
    opacity:0.90
}

h1{
    color: #184755;
    text-align: center;
}
h3{
    color: #BD2A3C;
    text-align: center;
}
body{
    background-image: url(images/bookstore.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
}

button{
    background-color: #20E2E2;
    color: #C8242D;
    border-radius: 8px;
    width: 90px;
    height: 40px;
    font-size: 16px;
}
div{
    display: flex;
    align-items: center;
    justify-content: center

}
input[type=submit] {
    padding: 10px 24px;
    border: none;
    border-radius: 7px;
    color: #fff;
    font-weight: bold;
    background: #184092;
    cursor: pointer;
}

.form {
    width: 400px;
    position: fixed;
    top: 20%;
    left: 35%;
}

fieldset {
    margin: 0 0 20px;
    padding: 20px 15px;
    border: 2px solid #184092;
}
label{
    color: #184092;
}
legend{
    color: #184092;
}

button:hover{
    width: 95px;
    height: 50px;
    transition: 0.5s;
    background-color: #ffd300;
}
.book {
    background-image: url(images/book1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.user{
    background-image: url(images/users.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.error{
background: url(images/error.jpg) no-repeat;
}
.login {
    background-image: url(images/login.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.table_mini{
    width: 75%;
    margin-bottom: 20px;
    font-size: 15px;
    margin-left:50px;
    margin-right:20px;
}

.new_button{
    font-size: 13px;
    width: 250px;
    height: 20px;
    background-color: #20E2E2;
}
.new_button:hover{
    font-size: 14px;
    width: 300px;
    height: 23px;
    transition: 0.5s;
    background-color: #ffd300;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #184755;
}
.active:hover {
    background-color: #18404E;
}











